*,
::after,
::before {
    box-sizing: border-box;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.box-slide-list {
    margin-bottom: 80px;
}

.list-slide {
    display: flex;
    align-items: center;
}

.list-slide .img {
    flex: 0 0 70%;
    max-width: 70%;
    height: 100vh;
    padding-right: 15px;
}

.list-slide .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-slide .content {
    flex: 0 0 30%;
    max-width: 30%;
    padding: 0px 55px 65px 55px;
}

.box-slide-list .owl-list-slide .owl-nav {
    position: absolute;
    bottom: calc(0px + 50px);
    left: calc(70% + 55px);
    display: flex;
    gap: 15px;
}

.box-slide-list.even .owl-list-slide .owl-nav {
    left: 55px
}

.box-slide-list .owl-list-slide .owl-nav .owl-prev,
.box-slide-list .owl-list-slide .owl-nav .owl-next {
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #001151;
    color: #001151;
    font-size: 18px;
    background: #FFF;
}

.box-slide-list .owl-list-slide .owl-nav .owl-prev.disabled,
.box-slide-list .owl-list-slide .owl-nav .owl-next.disabled {
    opacity: 0.4;
}